<section class=" w-1/2 flex flex-col items-center">  
    <div>    
      <%= image_tag('lifeline-new.png', alt: 'Lifeline Logo', class: "w-[150px] h-[150px] mt-7 mb-28") %>
    </div>
    <div class="flex">  
      <div class="w-6 h-1 border border-transparent rounded-xl bg-[#79bcf5] mt-[10px] mr-2"></div>
      <p class="text-[#79bcf5] font-bold"> Revolutionize records keeping</p>
    </div>
    <div class="text-start mt-2 ml-[25%] ">  
      <h2 class=" text-6xl font-semibold leading-tight mb-8"> Easily access
      <br/>
      your <br/>
      <span class="bg-center bg-origin-padding bg-no-repeat bg-contain inline-block" style="background-image: url('<%= asset_path('highlighter.png') %>'); background-size: 104% 106%;">medical records</span>
      </h2>
    </div>
     <p class="ml-[15%] mt-8 text-lg font-normal leading-relaxed"> Lifeline Medics incorporates NFC hardware <br/> to revolutionize how medical records are stored 
    </p> 
  </section>