<div class="h-[92vh] flex  justify-around rounded-br-[400px]  items-center w-full bg-[url('./img/hero.png')]">
  <div class="flex flex-col gap-4   ">
    <p class="text-[#7E7A7A] text-sm">
      creativity on steroids solutions
    </p>
    <h1 class="w-[594px] text-5xl  font-bold">
      WE ARE A<span class="text-[#00AEEF]/70 mx-2"> DIGITAL MEDIA</span>
      CONSULTANT AGENCY.
    </h1>
    <p class="w-[560px]">
      Lifeline consultant is a social design studio that seeks to work
      within the innovative space to create meaningful solutions for and
      with our stakeholder communities
    </p>
    <div class="flex items-center gap-8">
      <button
        class="flex bg-[#00AEEF] w-[171px] h-[47px] cursor-pointer uppercase font-bold  text-white justify-center items-center gap-2"
        style="border-radius: 7px"
      >
      Our Services
      </button>

      <p class="text-[#00AEEF] cursor-pointer uppercase font-bold text-xl">
        Get a quote
      </p>
    </div>
  </div>

</div>