<div class=" top-2 left-0 bg-transparent w-full h-[80px] flex justify-between items-center p-4">

    <%= image_tag('logo.png', class: 'h-[110px] cursor-pointer w-[107px]') %>

    <div class="flex  cursor-pointer  w-full justify-between">
      <p > Our Skills</p>
      <p > About Us</p>
      <p >The Team </p>
      <p > Our product </p>
      <p >Get in touch</p>
    </div>
</div>
<%= render "hero" %>